#history-page {
    justify-content: normal;
    margin: 50px 0px;
    height: auto;
    width: auto;
}



ul.history {
    list-style: none;
    padding: 0px;
    margin: 0px;

    li.history-item {
        cursor: pointer;
        color: var(--grey3);
        background-color: var(--grey6);
        width: 100%;
        margin-bottom: 10px;
        padding: 10px 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        span.factorial {
            font-weight: bold;
            font-size: 48px;

            &:after {
                content: "!";
            }
        }

        span.result {
            font-size: 30px;
            max-width: 200px;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            
            &:before {
                content: "= ";
            }
        }
    }
}