:root {
	--primaryColor: #A70000;
	--grey1: #333333;
	--grey3: #828282;
	--grey6: #F2F2F2;

	--titleFontSize: 30px;
	--textFontSize: 16px;
}

body {
	font-family: Roboto, Arial;
}

html, body, #root {
	height: 100%;
}

header {
	display: none;
}

div.router {
	display: flex;
	flex-direction: column;

	a.logo {
		text-align: center;
		margin-top: 50px;
		margin-bottom: 0px;
	}
}

h1, h2, h3, h4, h5, h6 {
	&.title {
		font-style: normal;
		font-weight: 900;
		font-size: var(--titleFontSize);
		line-height: calc(var(--titleFontSize) + 7px);
		color: var(--primaryColor);
		margin: 0px;
		margin-bottom: 20px;
		max-width: 400px;
	}

	&.explanation {
		font-weight: normal;
		font-size: var(--textFontSize);
		line-height: calc(--textFontSize + 3px);
		color: var(--grey3);
		margin: 0px;
		margin-bottom: 20px;
		max-width: 95%;
	}
}

div.container {
	display: flex;
	flex-direction: column;
	padding: 50px 30px;
	height: calc(100% - 100px);
}


a.back-button {
    text-decoration: none;
    margin-bottom: 20px;

    > div {
        color: var(--primaryColor);
        display: flex;
        align-items: center;

        span {
            margin-left: 5px;
            text-transform: uppercase;
            font-size: var(--textFontSize);
            font-weight: bold;
        }
    }
}

@media (min-width: 1000px) {
	#root {
		display: flex;
		flex-direction: row;	
	}

	header {
		position: fixed;
		height: 100%;

		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: center;

		background-color: var(--primaryColor);
		color: white;
		min-width: 35%;
		z-index: 1;
		// margin-right: 50px;
		padding-left: 40px;

		&::before {
			content: '';
			background-color: var(--primaryColor);
			position: absolute;
			width: 300px;
			height: calc(100% + 10px);
			top: -20px;
			right: -25px;
			transform: rotate(4deg);
			z-index: -1;
		}
		
		a {
			margin-top: auto;
		}

		h1.title {
			color: white;
			margin-top: 20px;
		}

		p.author {
			margin-top: auto;
		}
	}

	div.router {
		margin-left: calc(35% + 88px);
		width: 100%;

		a.logo {
			display: none;
		}
	}

	div.container {
		justify-content: center;
		padding: 0px 60px;
		height: 100%;
	}
}