:root {
	--primaryColor: #A70000;
	--grey3: #828282;
	--grey6: #F2F2F2;

	--titleFontSize: 30px;
	--textFontSize: 16px;
}

body {
	font-family: Roboto, Arial;
}

html, body, #root {
	height: 100%;
}

header {
	display: none;
}

div.router {
	display: flex;
	flex-direction: column;

	img {
		margin-top: 50px;
	}
}

h1, h2, h3, h4, h5, h6 {
	&.title {
		font-style: normal;
		font-weight: 900;
		font-size: var(--titleFontSize);
		line-height: calc(var(--titleFontSize) + 7px);
		color: var(--primaryColor);
		margin: 0px;
		margin-bottom: 20px;
		max-width: 400px;
	}

	&.explanation {
		font-weight: normal;
		font-size: var(--textFontSize);
		line-height: calc(--textFontSize + 3px);
		color: var(--grey3);
		margin: 0px;
		margin-bottom: 20px;
		max-width: 95%;
	}
}

div.container {
	display: flex;
	flex-direction: column;
	padding: 50px 30px;
	height: calc(100% - 100px);
}

@media (min-width: 1000px) {
	#root {
		display: flex;
		flex-direction: row;	
	}

	header {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: center;

		background-color: var(--primaryColor);
		color: white;
		min-width: 35%;
		position: relative;
		z-index: 1;
		margin-right: 50px;
		padding-left: 40px;

		&::before {
			content: '';
			background-color: var(--primaryColor);
			position: absolute;
			width: 300px;
			height: calc(100% + 10px);
			top: -20px;
			right: -25px;
			transform: rotate(4deg);
			z-index: -1;
		}
		
		img {
			margin-top: auto;
		}

		h1.title {
			color: white;
			margin-top: 20px;
		}

		p.author {
			margin-top: auto;
		}
	}

	div.router {
		img {
			display: none;
		}
	}

	div.container {
		justify-content: center;
		padding: 0px 60px;
		height: 100%;
	}
}